
.container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 8px 0;
    flex-wrap: wrap;
}

.tag {
    font-family: 'MyFont', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #49494b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;

    padding: 3px;

    background-color: #ffd600;
}